<!-- templates/includes/post_card.html -->
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      {% if post.image %}
        <a href="{{ post.image.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}">
        </a>
      {% endif %}
      
      <!-- Заголовок поста теперь является кликабельной ссылкой -->
      <h5 class="card-title">
        <a href="{% url 'blog:post_detail' post.id %}" class="text-decoration-none text-dark">
          {{ post.title }}
        </a>
      </h5>
      
      <h6 class="card-subtitle mb-2 text-muted">
        <small>
          {% if not post.is_published %}
            <p class="text-danger">Пост снят с публикации админом</p>
          {% elif not post.category.is_published %}
            <p class="text-danger">Выбранная категория снята с публикации админом</p>
          {% endif %}
          {{ post.pub_date|date:"d E Y, H:i" }} | 
          {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
          От автора <a class="text-muted" href="{% url 'blog:profile' post.author %}">@{{ post.author.username }}</a> в
          категории {% include "includes/category_link.html" %}
        </small>
      </h6>
      
      <p class="card-text">{{ post.text|truncatewords:10 }}</p>
      
      <!-- Блок кнопок действий (редактировать/удалить) для автора поста -->
      {% if user == post.author %}
        <div class="mt-2 mb-2">
          <a class="btn btn-sm btn-outline-primary" href="{% url 'blog:edit_post' post.id %}" role="button">
            Редактировать
          </a>
          <a class="btn btn-sm btn-outline-danger" href="{% url 'blog:delete_post' post.id %}" role="button">
            Удалить
          </a>
        </div>
      {% endif %}
      
      <!-- Ссылки для перехода к полному тексту и комментариям -->
      <div class="mt-3">
        <a href="{% url 'blog:post_detail' post.id %}" class="card-link">Читать далее &raquo;</a>
        <a href="{% url 'blog:post_detail' post.id %}#comments" class="card-link text-muted">
          Комментарии ({{ post.comment_count|default:0 }})
        </a>
      </div>
    </div>
  </div>
</div>